
.CardSetItem{
    display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: black;
    border: 1px solid black;
    padding: 1vw;
    gap: 2vw;
}

.CardSetItem-content-image{
    width: 15vw;
    height: 15vw;
}

.Catalog-Main-ItemsAndFilters-Items{
    display:flex;
    gap: 5vw;
    flex-flow: row wrap;
    justify-content: center;
}


.CardSetItem-content-label-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display:flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}